.img-placeholder {
  height: 200px;
  width: 200px;
}

/* FeaturedStore.js styles */
.featured-store-wrapper {
  min-height: 150px;
  border-radius: 50%;
}

/* footer styles */

.main-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.footer-text {
  font-size: 3rem;
  line-height: 1;
}

.header {
  height: 5em;
}

.header-text {
  font-size: 3rem;
  line-height: 1;
}